#welcome {
    color:white;
    display: inline
}

#username {
    color: red;
    display: inline
}

#counter-text{
    color:white;
    display: inline;
}

#counter{
    color: red;
    display: inline;
}
.seat-row {
    padding: 10px;
    align-items: center;
}

.seat {
    height: 45px;
    width: 45px;
    padding: 10px;
}